@import '../../../styles/index.less';

@acmeRadioPrefix: ~'@{acme-prefix}-radio';

.@{acmeRadioPrefix} {
  display: flex;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-top: 0;
  margin-right: @spacing-normal;
}

.@{acmeRadioPrefix}-inline {
  display: inline-flex;
}

.@{acmeRadioPrefix}-disabled {
  .@{acmeRadioPrefix}-label {
    color: @font-color-disabled;
  }
}
