@import '../../../styles/index.less';

@acmeBtnPrefix: ~'@{acme-prefix}-btn';

// 高度变量
@default-height: 40px;
@large-height: 48px;
@small-height: 32px;

@transparent: transparent;

.@{acmeBtnPrefix} {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 @spacing-lg;
  border-radius: @border-radius-normal;
  box-sizing: border-box;
  cursor: pointer;
  .text-primary();
}

.contained-primary-action() {
  &:hover {
    background-color: @con-bg-primary-hover;
    border-color: @con-border-primary-hover;
  }
  &:active,
  &:focus {
    background-color: @con-bg-primary-active;
    border-color: @con-border-primary-active;
  }
}
.contained-danger-action() {
  &:hover {
    background-color: @con-bg-danger-hover;
    border-color: @con-border-danger-hover;
  }
  &:active,
  &:focus {
    background-color: @con-bg-danger-active;
    border-color: @con-border-danger-active;
  }
}
.other-action() {
  &:hover {
    background-color: @con-bg-secondary-hover;
  }
  &:active,
  &:focus {
    background-color: @con-bg-secondary-active;
  }
}

// 类型按钮分区
.@{acmeBtnPrefix}-contained-primary {
  color: @color-white;
  background-color: @con-bg-primary;
  border: @border-width-normal solid @con-border-primary;
  .contained-primary-action();
}

.@{acmeBtnPrefix}-outlined-primary {
  color: @color-primary;
  background-color: @con-bg-secondary;
  border: @border-width-normal solid @con-border-primary;
  .other-action();
}

.@{acmeBtnPrefix}-minimal-primary {
  // 文字按钮无大小属性, 所以无高度设置
  height: unset !important;
  padding: 0 @spacing-sm;
  color: @color-primary;
  background-color: @transparent;
  border: @border-width-normal solid @transparent;
  .other-action();
}

// 在类型上再根据颜色区分（主色就是基础的，👇是danger类型）
.@{acmeBtnPrefix}-contained-danger {
  color: @color-white;
  background-color: @con-bg-danger;
  border: @border-width-normal solid @con-border-danger;
  .contained-danger-action();
}

.@{acmeBtnPrefix}-outlined-danger {
  color: @color-error;
  background-color: @con-bg-secondary;
  border: @border-width-normal solid @con-border-danger;
  .other-action();
}

.@{acmeBtnPrefix}-minimal-danger {
  // 文字按钮无大小属性, 所以无高度设置
  height: unset !important;
  padding: 0 @spacing-sm;
  color: @color-error;
  background-color: @transparent;
  border: @border-width-normal solid @transparent;
  .other-action();
}

// 按钮size属性，仅仅用来控制高度和字号，可以单独抽取样式类覆盖base类。无其他副作用
.@{acmeBtnPrefix}-default {
  height: @default-height;
}

.@{acmeBtnPrefix}-large {
  height: @large-height;
  .heading-4();
}

.@{acmeBtnPrefix}-small {
  height: @small-height;
}

// ghost属性优先级高于color属性！所以当属性设置ghost时，danger属性不生效
.contained-ghost-hover() {
  &:hover {
    background-color: @con-bg-secondary-hover;
  }
  &:active,
  &:focus {
    background-color: @con-bg-secondary-active;
  }
}
.other-ghost-hov {
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  &:active,
  &:focus {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.@{acmeBtnPrefix}-contained-ghost {
  color: @color-primary;
  background-color: @con-bg-secondary;
  border: @border-width-normal solid @con-border-primary;
  .contained-ghost-hover();
}

.@{acmeBtnPrefix}-outlined-ghost {
  color: @color-white;
  background-color: @transparent;
  border: @border-width-normal solid @color-white;
  .other-ghost-hov();
}

.@{acmeBtnPrefix}-minimal-ghost {
  color: @color-white;
  background-color: @transparent;
  border: @border-width-normal solid @transparent;
  .other-ghost-hov();
}

// disabled属性，整体透明度设置为 50%;
.@{acmeBtnPrefix}-disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none; // 有IE兼容性问题
}

// loading属性，整体透明度设置为 80%;
.@{acmeBtnPrefix}-loading {
  opacity: 0.8;
  cursor: not-allowed;
  pointer-events: none; // 有IE兼容性问题
}

// fullWidth属性
.@{acmeBtnPrefix}-full {
  width: 100%;
}

// loading svg 动画设置
.@{acmeBtnPrefix}-loading-svg {
  margin-right: @spacing-sm;
  animation: loadingRotate 1s linear infinite;
}

// 旋转动画
@keyframes loadingRotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.@{acmeBtnPrefix}-start-element {
  margin-right: @spacing-normal;
}
.@{acmeBtnPrefix}-end-element {
  margin-left: @spacing-normal;
}
