@import '../../../styles/index';

@inputPrefix: ~'@{acme-prefix}-pagination-input';
@color-secondary: rgba(51, 51, 255, 0.5);
@color-light-primary: rgba(51, 51, 255, 0.05);
@color-gray: @font-color-disabled;

@radius-base: @border-radius-normal;

@distance-base: @spacing-sm;

@shadow-primary: 0px 0px 2px 1px rgba(54, 40, 255, 0.3);

.@{inputPrefix} {
  margin: 0 @distance-base;
  border: 1px solid @color-gray;
  border-radius: @radius-base;
  outline: none;

  &:focus {
    border: 1px solid @color-secondary;
    box-shadow: @shadow-primary;
  }
}
