@import '../../../styles/index';

@inputPrefix: ~'@{acme-prefix}-pagination-input';
@color-secondary: rgba(51, 51, 255, 0.5);
@color-light-primary: rgba(51, 51, 255, 0.05);

@radius-base: @border-radius-normal;

@shadow-primary: 0px 0px 2px 1px rgba(54, 40, 255, 0.3);

.@{inputPrefix} {
  margin: 0 @spacing-sm;
  border: @border-width-normal solid @border-color-primary;
  border-radius: @radius-base;
  outline: none;

  &:focus {
    border: @border-width-normal solid @border-color-highlight;
    box-shadow: @shadow-primary;
  }
}
