@import '../../../styles/index';

@paginationPrefix: ~'@{acme-prefix}-pagination';

@color-secondary: rgba(51, 51, 255, 0.5);
@color-light-primary: rgba(51, 51, 255, 0.05);

@shadow-primary: 0 2px 4px 0 rgba(54, 40, 255, 0.08);

.@{paginationPrefix} {
  font-size: @font-size-base;
  color: @font-color-title;
  ul,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .@{paginationPrefix}-content {
    padding: 0;
    margin: 0 @spacing-lg;
    clear: both;
  }
  .@{paginationPrefix}-item {
    display: inline-block;
    vertical-align: middle;
    margin-right: @spacing-normal;
    &:hover {
      .@{paginationPrefix}-dot-group {
        opacity: 0;
      }
      .@{paginationPrefix}-doubleArrow {
        opacity: 1;
      }
    }
  }

  /** default */
  .@{paginationPrefix}-default-item {
    width: @spacing-xl;
    height: @spacing-xl;
    line-height: @spacing-xl;
    color: @font-color-link;
    text-align: center;
    border: @border-width-normal solid @border-color-highlight;
    box-shadow: @shadow-primary;
    border-radius: @border-radius-normal;
    cursor: pointer;
    transition: all ease-in-out 0.1s;
    &:hover {
      color: @font-color-link;
      background-color: @color-light-primary;
      box-shadow: @shadow-primary;
    }
  }
  .@{paginationPrefix}-default-total {
    margin-right: @spacing-lg;
  }
  .@{paginationPrefix}-default-item-active {
    color: @color-white;
    background-color: @bg-color-selected;
    &:hover {
      color: @color-white;
      background-color: @bg-color-selected;
    }
  }
  .@{paginationPrefix}-default-item-disabled {
    border-color: @color-secondary;
    cursor: not-allowed;
    &:hover {
      background-color: @bg-color-white;
    }
  }
  .@{paginationPrefix}-default-item-more {
    position: relative;
    box-shadow: none;
    border: none;
    &:hover {
      background: @bg-color-white;
      box-shadow: none;
    }
  }
  .@{paginationPrefix}-default-dot {
    display: inline-block;
    width: @spacing-xs;
    height: @spacing-xs;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0 @spacing-xs;
    background: @bg-color-selected;
  }

  /** mini */
  .@{paginationPrefix}-simple-item,
  .@{paginationPrefix}-mini-item {
    width: @spacing-lg;
    height: @spacing-lg;
    line-height: @spacing-lg;
    text-align: center;
    border-radius: @border-radius-normal;
    cursor: pointer;
    &:hover {
      color: @font-color-link;
      .@{paginationPrefix}-simple-arrow,
      .@{paginationPrefix}-mini-arrow {
        fill: @font-color-link;
      }
    }
  }
  .@{paginationPrefix}-mini-item-active {
    color: @font-color-link;
    background-color: @color-light-primary;
  }
  .@{paginationPrefix}-mini-item-more {
    position: relative;
  }
  .@{paginationPrefix}-simple-item-disabled,
  .@{paginationPrefix}-mini-item-disabled {
    color: @font-color-disabled;
    cursor: not-allowed;
    &:hover {
      color: @font-color-disabled;
      .@{paginationPrefix}-simple-arrow,
      .@{paginationPrefix}-mini-arrow {
        fill: @font-color-disabled;
      }
    }
  }
  .@{paginationPrefix}-mini-dot {
    display: inline-block;
    width: @spacing-xs;
    height: @spacing-xs;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0 @spacing-xs;
    background: @color-black;
  }

  /** simple */
  .@{paginationPrefix}-simple-item {
    margin: 0;
  }
  .@{paginationPrefix}-simple-container {
    display: inline-block;
    vertical-align: middle;
    margin: 0 @spacing-md;
  }
  .@{paginationPrefix}-simple-text {
    display: inline-block;
    margin: 0 @spacing-sm;
  }
  .@{paginationPrefix}-simple-active {
    color: @font-color-link;
  }
}

.@{paginationPrefix}-dot-group {
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 1;
  line-height: inherit;
  transition: opacity ease-in-out 0.5s;
}

.@{paginationPrefix}-doubleArrow {
  position: absolute;
  fill: @font-color-link;
  left: 0;
  z-index: 2;
  width: 100%;
  opacity: 0;
  line-height: inherit;
  transition: opacity ease-in-out 0.5s;

  .@{paginationPrefix}-left-doubleArrow {
    transform: rotate(180deg);
  }
}

.@{paginationPrefix}-default-arrow {
  fill: @font-color-link;
}

.@{paginationPrefix}-default-left-button {
  transform: rotate(180deg);
}

.@{paginationPrefix}-default-arrow-disabled {
  fill: @color-secondary;
}

.@{paginationPrefix}-simple-arrow,
.@{paginationPrefix}-mini-arrow {
  fill: @color-black;
}

.@{paginationPrefix}-simple-left-button,
.@{paginationPrefix}-mini-left-button {
  transform: rotate(180deg);
}

.@{paginationPrefix}-simple-arrow-disabled,
.@{paginationPrefix}-mini-arrow-disabled {
  fill: @font-color-disabled;
}

.@{paginationPrefix}-jumpInput {
  width: @spacing-xl;
  height: @spacing-lg;
}
